 /* Estilos personalizados */
 body {
   max-width: 1920px;
   margin: 0 auto;
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   padding: 20px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }

 a {
  color: #0366d6;
  transition: color 0.3s ease;
}

a:hover {
  color: #1a4da6;
}

 .custom-header {
  background-color: #ffffff; 
}


 /* Estilos para o header */
 header {
   /* background-color: #333; */
   color: #8d8d8d;
   padding: 20px;
   text-align: center;
 }

 header nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
 }

 header nav ul li {
   margin: 0 10px;
 }

 header nav ul li a {
   color: #8d8d8d;
   text-decoration: none;
   font-size: 16px;
   padding: 5px 10px;
 }

 header nav ul li a:hover {
   background-color: #cfecf3;
   border-radius: 5px;
 }

 /* Estilo para o conteúdo principal */
 .content {
   flex: 1;
   margin-bottom: 20px;
 }

 /* Estilo para o rodapé */
 footer {
   background-color: #333;
   color: #fff;
   padding: 10px;
   text-align: center;
 }

  /* Mídia query para dispositivos com largura menor que 480px */
  @media (max-width: 480px) {
    header {
      padding: 10px;
    }

    header nav ul {
      flex-direction: column;
    }

    header nav ul li {
      margin-bottom: 10px;
      text-align: center;
    }
  }