/* Estilo personalizado para o modal */
.modal.fade {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 60px);
    padding: 15px;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #projectForm {
    margin-bottom: 20px;
  }
  
  #projectForm input[type="text"],
  #projectForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #projectForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #projectForm button[type="submit"]:hover {
    background-color: #0056b3;
  }